@keyframes flash {
  50% {
    color: #ffffff;
  }
}

@keyframes flash-bg {
  50% {
    background-color: #ffffff;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand-menu {
  0% {
    transform: translateY(-900px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
