* {
    padding: 0;
    margin: 0;
}

body {
    color: $color-text-body;
    background-color: $color-background-body;
    font-family: $font-stack-body;
    font-size: $font-size-body;
}

h2, h1 {
    font-family: $font-stack-primary;
    margin-bottom: $margin-main/2;
}

img {
    animation: 2s fade-in ease-in;
}