.content__main {
  margin-right: $margin-main;
  margin-left: $margin-main;
  min-height: 900px;
  background-color: $color-background-content;
  animation: 250ms flash-bg 250ms;
  padding: 1.5rem;
  margin-top: 2rem;

  h2, h1 {
    color: $color-text-primary;
    font-size: $font-size-medium;
  }

  p {
    margin-bottom: $margin-main;
  }

  a {
    text-decoration: none;
    color: $color-text-primary;
    border-bottom: 1px dotted $color-text-primary;
  }
}

.content__main__border {
  width: 8px;
  background-color: $color-text-primary;
  height: 700px;
  margin-top: 150px;
  &.--left {
    float: left;
    margin-left: 20px;
  }
  &.--right {
    float: right;
    margin-right: 20px;
  }
}

// This will be the tech icons on the single portfolio item page
.image-style-icon-30x30- {
  margin-top: $margin-main;
}
