.contact-form {
  .form-type-textfield,
  .form-type-email {
    display: flex;
    label {
      flex: 1;
    }

    .form-text,
    .form-email {
      border: 0;
      border-bottom: 1px dotted $color-text-primary;
      background-color: $color-background-content;
      flex: 5;
    }
  }
  .form-textarea {
    border: 0;
    color: $color-text-body;
    background-color: $color-background-body;
  }

  .form-submit {
    border: 0;
    background-color: darken($color-text-primary, 30%);
    color: $color-text-body;
    padding: 5px;
    transition: 500ms;
    border-radius: 3px;

    &:hover {
      background-color: $color-text-primary;
      transition: 500ms;
    }
  }
}

// Media Queries
@media only screen and (max-width: $breakpoint-mobile) {
  .contact-form {
    .form-type-textfield,
    .form-type-email {
      flex-direction: column;
    }
  }
}
