.header__branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  padding-left: $margin-main;
  background-color: rgba(30, 30, 30, 0.5);

  h2 {
    margin: 0;
    background-image: url("../img/branding-bg.png");
    background-clip: text;
    color: transparent;
    font-family: $font-stack-primary;
    font-size: $font-size-large;
    font-weight: 800;
    background-size: cover;
    background-position: 0 -45px;
    filter: saturate(60%);
    animation: 1s flash;
    transition: 250ms;
    cursor: pointer;
    &:hover {
      filter: saturate(100%);
    }

  }
}

// Media Queries
@media only screen and (max-width: $breakpoint-mobile) {
  .header__branding {
    flex-direction: column;
    align-items: flex-start;
  }
}
