.menu__footer {
  display: flex;
  justify-content: center;
  padding: $margin-main/2;

  .menu__item {
    display: flex;
    a {
      font-family: $font-stack-primary;
      font-size: $font-size-small;
      text-transform: lowercase;
      color: $color-text-body;
      text-decoration: none;
      opacity: 0.5;
      transition: 1s;

      &:hover {
        color: $color-text-primary;
        opacity: 1;
        transition: 1s;
      }
    }
    &:not(:last-child) {
      margin-right: $margin-main/2;
    }
  }
}
