.menu__container {
  display: flex;
  align-items: baseline;
  padding-right: $margin-main;

  .menu__main {
    display: flex;
    font-family: $font-stack-primary;
    color: $color-text-body;
    font-size: $font-size-small;
    font-weight: bold;
  }

  .menu__item {
    display: flex;
    padding-right: 10px;

    .icon-link {
      color: $color-text-body;
    }
    .icon-link:hover {
      color: $color-text-primary;
    }

    a {
      background-image: url("../img/nav-bg.png");
      background-clip: text;
      color: transparent;
      text-transform: lowercase;
      transition: 1s;
      text-decoration: none;
      &.is-active {
        color: $color-text-primary;
      }
      &:hover {
        background-position-y: -100px;
        transition: 1s;
      }
    }
    // If there's more than 20 menu links, something is very, very, wrong
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation: 250ms slide-in;
        animation-delay: $i * 100ms;
      }
    }
  }
}

// Toggle Menu (mobile)
.menu__toggle {
  display: none;
  cursor: pointer;
  color: $color-text-primary;
  padding: 7px 10px;
  background-color: #222;
  border-radius: 15px;

  &__item--display {
    display: flex !important;
  }

  &--expand {
    display: flex !important;
    flex-direction: column-reverse !important;
    animation: 250ms expand-menu ease-in;
  }

  &--open {
    transform: rotate(180deg);
    color: $color-text-primary;
    margin-top: $margin-main/2;
    width: 100%;
    display: flex;
    background-color: $color-background-content;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    transition: 250ms linear background-color;
  }

  svg {
    margin-left: auto;
    margin-right: auto;
  }
}

// Media Queries
@media only screen and (max-width: $breakpoint-mobile) {
  .menu__toggle {
    display: flex;
  }

  .is-active {
    display: none;
  }

  .region-primary-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .menu__container {
    .menu__item {
      a {
        color: $color-text-body;
        transition: 250ms;
        &:hover {
          color: $color-text-primary;
          transition: 250ms;
        }
        &.is-active {
          color: $color-text-primary;
        }
      }
    }
  }
}
