.region-content-frontpage {
  display: flex;
  margin-right: $margin-main;

  .block {
    flex: 0 0 50%;
    margin-right: $margin-main;
  }

  .layout__region--first {
    flex: 1;
  }

  .layout__region--second {
    flex: 3;
  }

  .field--name-body {
    margin-bottom: $margin-main/2;
  }

  .field--name-field-link-more {
    float: left;
    margin-bottom: $margin-main;
  }
}

// Media Queries
@media screen and (max-width: $breakpoint-mobile) {
  .region-content-frontpage {
    flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .view-frontpage .layout--twocol {
    flex-direction: column;
    .image-style-thumbnail {
      margin-bottom: $margin-main/2;
    }
  }
}
