.view-portfolio-items {
  .views-row:not(:first-child) {
    margin-top: $margin-main;
  }

  .layout__region--first {
    flex: 1;
  }

  .layout__region--second {
    flex: 3;
  }

  .field--name-field-tech-icons {
    margin-top: $margin-main/2;
  }
}

.field--name-field-tech-icons {
  display: flex;
  float: right;
  img {
    filter: saturate(50%);
    transition: 250ms;
    &:hover {
      filter: saturate(100%);
      transition: 250ms;
    }
  }
}

.page-node-type-portfolio-item {
  .image-style-large {
    margin-bottom: $margin-main/2;
  }
}

// Media Queries
@media only screen and (max-width: $breakpoint-mobile) {
  .page-node-type-portfolio-item {
    .image-style-large {
      object-fit: cover;
      object-position: left;
      width: 100%;
    }
  }

  .view-portfolio-items {
    .layout--twocol {
      flex-direction: column;
    }

    .image-style-thumbnail {
      margin-bottom: $margin-main/2;
    }
  }
}
