<div class="layout-container">

  <header class="header__branding" role="banner">
    {{ page.header }}
    {{ page.primary_menu }}
  </header>

  <div class="content__main__border --left">&nbsp;</div>
  <div class="content__main__border --right">&nbsp;</div>
  <main role="main" class="content__main">
    <div class="layout-content">
      {% if page.content_frontpage %}
        {{ page.content_frontpage }}
      {% endif %}
      {% if page.content %}
        {{ page.content }}
      {% endif %}
    </div>
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}